@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #F9FAFB;
  --foreground: #111827;
  --accent: 008000;
}
.dark {
  --foreground: #F9FAFB;
  --background: #111827;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background:#111827;
    --foreground: #F9FAFB;
  }
} */
@theme inline {
  --background-color:#F9FAFB ;
  --foreground-color:#111827 ;
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
 

}

@layer utilities{
  .container{
    @apply w-[80%] justify-self-center  
  }
  .by{
    @apply  border-y-[0.5px] dark:border-y-[var(--foreground)]/30 border-y-black/30 
  }
  .bx{
    @apply dark:border-x-[var(--foreground)]/30 border-x-black/30  border-x-[0.5px] 
  }
  .bt{
    @apply dark:border-t-[var(--foreground)]/30 border-x-black/30  border-t-[0.5px] 
  }
  .bb{
    @apply dark:border-b-[var(--foreground)]/30 border-x-black/30  border-b-[0.5px] 
  }

    .bxd{
    @apply dark:border-x-[var(--foreground)]/30 border-x-black/30 border-x-[0.5px] border-dashed
  }
}
/* border-y-[var(--foreground)]/10 */